body{
    width:100%;
    margin: 0px auto;
    background-color: #33373b;
    
}
.none{
    visibility: hidden;
}
header{
    display: block;
    text-align: center;
    height: 50px;
    border-bottom: 2px solid bisque;
    text-align: center;

}
h1{
   color: white;
}
main{
    
    margin: 0 auto;
    width: 1140px;
    height: 500px;
}
.btn_conteiner{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.btn{
    box-sizing: border-box;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-color: rgba(12, 9, 9, 0.575);
    border-radius: 5px;
    border: 0;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover{
    transform: scale(1.06);
    color: cyan;
}
.btn + .btn {
margin-left: 30px;
}
.piano{
    display: flex;
    position: relative;
    margin-top: 100px;
    justify-content: center;
}
.piano_key{
    width: 80px;
    height: 262px;
    background-color: rgba(255, 255, 255, 0.849);
    border: 4px solid rgba(0, 0, 0, 0.644);;
    border-radius: 0px 0px 8px 8px;
    border-top: none;
    cursor: pointer;
    transition: 0.2s;
}
.piano_key:hover{
    background-color:rgba(255, 255, 255, 0.514);
}
.piano_key:active{
    transform: scale(0.93);
}
.keys_sharp{
    display: flex;
    position: absolute;
    top: 0;
    left: 325px;
    top: -10px;
      
}

.none{
    visibility: hidden;
}
.sharp{
    width: 50px;
    height: 170px;
    background-color:#33373b;
    border-radius: 0px 0px 10px 10px;
    border: none;
}
.sharp + .sharp{
margin-left: 38px;
}
.sharp:hover{
background-color: #33373b;
}

.piano_key.sharp.letter:before{
    content: attr(data-note);
    position: absolute;
    top: -30px;
    width: 50px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    color: cyan;

}
